@import url('https://fonts.googleapis.com/css2?family=Armata&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
}

/*Body styling*/

body {
    background-image: linear-gradient(to bottom right, rgba(13, 118, 115, 0.8), rgba(0, 21, 71, 0.8)), url(../images/background-image.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: Armata, sans-serif;
}

/*Headings and logo*/

#heading-logo {
    text-align: center;
    padding-top: 20px;
}

.heading {
    font-family: Armata, sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 350%;
}

/*Start button styling*/

#start {
    text-align: center;
    padding: 50px;
}

#start-button {
    font-size: 300%;
    background-color: forestgreen;
}